### Read DataBase

In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect("inventory.db")

### Show tables from database

In [3]:
show_tables = pd.read_sql("select name from sqlite_master where type='table'", conn)
show_tables

                   name
0        ingested_files
1       begin_inventory
2         end_inventory
3             purchases
4       purchase_prices
5                 sales
6        vendor_invoice
7  Vendro_summary_sales
8           final_table

In [4]:
for table in show_tables['name']:
    print('-'*50, f'{table}', '-'*50)
    print(pd.read_sql(f"select count(*) from {table}", conn))
    display(pd.read_sql_query(f"select * from {table} limit 5", conn))

-------------------------------------------------- ingested_files --------------------------------------------------
   count(*)
0         0

Empty DataFrame
Columns: [filename]
Index: []

-------------------------------------------------- begin_inventory --------------------------------------------------
   count(*)
0    206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
   count(*)
0    224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
   count(*)
0   2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
   count(*)
0     12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
   count(*)
0  12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
   count(*)
0      5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- Vendro_summary_sales --------------------------------------------------
   count(*)
0     12489

,VendorName,VendorNumber,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchasesQuantity,TotalPurchasesDollars,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalSalesTax,FreightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRatio
0,BROWN-FORMAN CORP,1128,1233,26.27,36.99,1750.0,145080,3811251.60,5.101920e+06,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,MARTIGNETTI COMPANIES,4425,3405,23.19,28.99,1750.0,164038,3804041.22,4.819073e+06,561512.37,160247.0,294438.66,209.32,1015032.27,21.062810,0.976890,1.266830
2,MARTIGNETTI COMPANIES,4425,3405,23.19,28.99,1750.0,164038,3804041.22,4.819073e+06,561512.37,160247.0,294438.66,144719.92,1015032.27,21.062810,0.976890,1.266830
3,PERNOD RICARD USA,17035,8068,18.24,24.99,1750.0,187407,3418303.68,4.538121e+06,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
4,DIAGEO NORTH AMERICA INC,3960,4261,16.17,22.99,1750.0,201682,3261197.94,4.475973e+06,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493

-------------------------------------------------- final_table --------------------------------------------------
   count(*)
0     12489

,VendorName,VendorNumber,Description,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchasesQuantity,TotalPurchasesDollars,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalSalesTax,FreightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRatio,SalesDate
0,BROWN-FORMAN CORP,1128,Jack Daniels No 7 Black,1233,26.27,36.99,1750,145080,3811251.60,5.101920e+06,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647,None
1,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750,164038,3804041.22,4.819073e+06,561512.37,160247.0,294438.66,209.32,1015032.27,21.062810,0.976890,1.266830,None
2,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750,164038,3804041.22,4.819073e+06,561512.37,160247.0,294438.66,144719.92,1015032.27,21.062810,0.976890,1.266830,None
3,PERNOD RICARD USA,17035,Absolut 80 Proof,8068,18.24,24.99,1750,187407,3418303.68,4.538121e+06,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594,None
4,DIAGEO NORTH AMERICA INC,3960,Capt Morgan Spiced Rum,4261,16.17,22.99,1750,201682,3261197.94,4.475973e+06,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493,None

### We can choose any vendor number to discover it in all tables

In [5]:
Vendor_Number_Purchases = pd.read_sql('select * from purchases where VendorNumber = 388', conn)
Vendor_Number_Purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1
1,42_BLACK HOLLOW_2034,42,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8249,2023-12-30,2024-01-06,2024-01-11,2024-02-18,21.32,30,639.60,1
2,79_BALLYMENA_2034,79,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8249,2023-12-30,2024-01-09,2024-01-11,2024-02-18,21.32,35,746.20,1
3,32_MOUNTMEND_2034,32,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8249,2023-12-30,2024-01-05,2024-01-11,2024-02-18,21.32,6,127.92,1
4,50_MOUNTMEND_2034,50,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8249,2023-12-30,2024-01-06,2024-01-11,2024-02-18,21.32,6,127.92,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,70_KELD_2034,70,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-27,2025-01-06,2025-02-07,21.32,6,127.92,1
262,1_HARDERSFIELD_2034,1,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-31,2025-01-06,2025-02-07,21.32,6,127.92,1
263,32_MOUNTMEND_2034,32,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-27,2025-01-06,2025-02-07,21.32,6,127.92,1
264,59_CLAETHORPES_2034,59,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-28,2025-01-06,2025-02-07,21.32,6,127.92,1
265,51_ABERDEEN_2034,51,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-30,2025-01-06,2025-02-07,21.32,6,127.92,1

In [6]:
# Vendor_Number_Purchases_1 = pd.read_sql('select * from purchases' , conn)
# Vendor_Number_Purchases_1

In [7]:
Vendor_Number_Purchases_prices = pd.read_sql('select * from purchase_prices where VendorNumber = 388', conn)
Vendor_Number_Purchases_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,2034,Glendalough Double Barrel,32.99,750mL,750,1,21.32,388,ATLANTIC IMPORTING COMPANY
1,2119,Glendalough 13 Yr Sngle Malt,89.99,750mL,750,1,66.40,388,ATLANTIC IMPORTING COMPANY
2,7241,Glendalough Poitin Shry Cask,34.99,750mL,750,2,20.68,388,ATLANTIC IMPORTING COMPANY

In [8]:
Vendor_Number_invoice = pd.read_sql('select * from vendor_invoice where VendorNumber = 388', conn)
Vendor_Number_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
1,388,ATLANTIC IMPORTING COMPANY,2024-01-11,8249,2023-12-30,2024-02-18,95,2025.40,10.73,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-25,8323,2024-01-04,2024-02-23,64,1364.48,7.10,None
3,388,ATLANTIC IMPORTING COMPANY,2024-01-31,8456,2024-01-13,2024-02-28,18,379.92,1.98,None
4,388,ATLANTIC IMPORTING COMPANY,2024-02-03,8497,2024-01-17,2024-03-08,83,2028.52,9.53,None
5,388,ATLANTIC IMPORTING COMPANY,2024-02-08,8675,2024-01-28,2024-03-13,82,1748.24,9.27,None
6,388,ATLANTIC IMPORTING COMPANY,2024-02-19,8704,2024-01-31,2024-03-20,24,511.68,2.40,None
7,388,ATLANTIC IMPORTING COMPANY,2024-02-25,8893,2024-02-12,2024-03-29,12,255.84,1.18,None
8,388,ATLANTIC IMPORTING COMPANY,2024-02-29,8962,2024-02-17,2024-04-08,29,618.28,3.34,None
9,388,ATLANTIC IMPORTING COMPANY,2024-03-08,9095,2024-02-26,2024-04-20,54,1151.28,6.22,None
10,388,ATLANTIC IMPORTING COMPANY,2024-03-22,9112,2024-02-28,2024-04-23,36,812.60,4.31,None
11,388,ATLANTIC IMPORTING COMPANY,2024-03-26,9228,2024-03-07,2024-04-23,84,2422.00,11.38,None
12,388,ATLANTIC IMPORTING COMPANY,2024-03-30,9357,2024-03-16,2024-05-13,42,895.44,4.84,None
13,388,ATLANTIC IMPORTING COMPANY,2024-04-06,9504,2024-03-25,2024-05-17,4,85.28,0.41,None
14,388,ATLANTIC IMPORTING COMPANY,2024-04-15,9519,2024-03-27,2024-05-15,17,362.44,1.85,None
15,388,ATLANTIC IMPORTING COMPANY,2024-04-24,9640,2024-04-04,2024-05-22,18,383.76,2.03,None
16,388,ATLANTIC IMPORTING COMPANY,2024-04-29,9762,2024-04-13,2024-06-06,24,511.68,2.61,None
17,388,ATLANTIC IMPORTING COMPANY,2024-05-09,9818,2024-04-17,2024-06-04,29,618.28,2.97,None
18,388,ATLANTIC IMPORTING COMPANY,2024-05-11,9969,2024-04-27,2024-06-14,17,362.44,1.96,None
19,388,ATLANTIC IMPORTING COMPANY,2024-05-24,10033,2024-05-02,2024-06-16,18,383.76,1.88,None
20,388,ATLANTIC IMPORTING COMPANY,2024-05-31,10116,2024-05-08,2024-07-05,30,906.24,4.17,None
21,388,ATLANTIC IMPORTING COMPANY,2024-06-07,10273,2024-05-18,2024-07-09,11,234.52,1.22,None
22,388,ATLANTIC IMPORTING COMPANY,2024-06-13,10347,2024-05-23,2024-07-21,18,383.76,2.00,None
23,388,ATLANTIC IMPORTING COMPANY,2024-06-15,10478,2024-06-01,2024-07-30,30,639.60,3.45,None
24,388,ATLANTIC IMPORTING COMPANY,2024-06-21,10579,2024-06-08,2024-07-30,18,383.76,1.84,None
25,388,ATLANTIC IMPORTING COMPANY,2024-07-04,10645,2024-06-13,2024-08-05,11,234.52,1.29,None
26,388,ATLANTIC IMPORTING COMPANY,2024-07-11,10764,2024-06-21,2024-08-09,12,255.84,1.30,None
27,388,ATLANTIC IMPORTING COMPANY,2024-07-11,10970,2024-06-29,2024-08-17,30,639.60,3.33,None
28,388,ATLANTIC IMPORTING COMPANY,2024-07-25,11024,2024-07-03,2024-08-20,183,3901.56,18.34,None
29,388,ATLANTIC IMPORTING COMPANY,2024-07-25,11171,2024-07-13,2024-09-05,19,405.08,1.86,None
30,388,ATLANTIC IMPORTING COMPANY,2024-08-07,11261,2024-07-19,2024-09-15,22,469.04,2.49,None
31,388,ATLANTIC IMPORTING COMPANY,2024-08-08,11411,2024-07-29,2024-09-18,23,490.36,2.30,None
32,388,ATLANTIC IMPORTING COMPANY,2024-08-15,11427,2024-07-31,2024-09-20,18,383.76,2.11,None
33,388,ATLANTIC IMPORTING COMPANY,2024-08-23,11567,2024-08-09,2024-10-06,36,767.52,3.53,None
34,388,ATLANTIC IMPORTING COMPANY,2024-08-31,11667,2024-08-16,2024-10-08,11,234.52,1.29,None
35,388,ATLANTIC IMPORTING COMPANY,2024-09-09,11791,2024-08-24,2024-10-20,41,874.12,4.55,None
36,388,ATLANTIC IMPORTING COMPANY,2024-09-15,11902,2024-09-01,2024-10-16,30,639.60,3.52,None
37,388,ATLANTIC IMPORTING COMPANY,2024-09-26,11971,2024-09-06,2024-11-03,18,383.76,2.07,None
38,388,ATLANTIC IMPORTING COMPANY,2024-10-04,12107,2024-09-15,2024-11-09,18,383.76,2.03,None
39,388,ATLANTIC IMPORTING COMPANY,2024-10-09,12180,2024-09-20,2024-11-10,12,526.32,2.74,None
40,388,ATLANTIC IMPORTING COMPANY,2024-10-13,12361,2024-09-28,2024-11-18,23,490.36,2.50,None
41,388,ATLANTIC IMPORTING COMPANY,2024-10-17,12467,2024-10-05,2024-12-02,34,724.88,3.70,None
42,388,ATLANTIC IMPORTING COMPANY,2024-11-01,12516,2024-10-09,2024-12-08,24,511.68,2.66,None
43,388,ATLANTIC IMPORTING COMPANY,2024-11-07,12686,2024-10-20,2024-12-14,71,1513.72,7.27,None
44,388,ATLANTIC IMPORTING COMPANY,2024-11-15,12792,2024-10-27,2024-12-16,48,1023.36,5.32,None
45,388,ATLANTIC IMPORTING COMPANY,2024-11-18,12898,2024-11-03,2024-12-17,50,1066.00,5.65,None
46,388,ATLANTIC IMPORTING COMPANY,2024-11-25,12991,2024-11-10,2024-12-31,6,398.40,2.11,None
47,388,ATLANTIC IMPORTING COMPANY,2024-11-28,13076,2024-11-15,2025-01-08,71,1513.72,6.81,None
48,388,ATLANTIC IMPORTING COMPANY,2024-12-10,13200,2024-11-24,2025-01-16,16,340.48,1.74,None
49,388,ATLANTIC IMPORTING COMPANY,2024-12-17,13237,2024-11-27,2025-01-22,36,767.52,3.99,None
50,388,ATLANTIC IMPORTING COMPANY,2024-12-22,13369,2024-12-06,2025-01-22,39,831.48,4.49,None
51,388,ATLANTIC IMPORTING COMPANY,2024-12-26,13535,2024-12-16,2025-01-27,30,639.60,3.26,None
52,388,ATLANTIC IMPORTING COMPANY,2025-01-02,13592,2024-12-20,2025-02-02,53,1129.96,6.21,None

In [9]:
Vendor_Number_Sales= pd.read_sql('select * from sales where VendorNo = 388', conn)
Vendor_Number_Sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_2034,1,2034,Glendalough Double Barrel,750mL,1,28.99,28.99,2024-01-12,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY
1,1_HARDERSFIELD_2034,1,2034,Glendalough Double Barrel,750mL,1,28.99,28.99,2024-01-13,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY
2,1_HARDERSFIELD_2034,1,2034,Glendalough Double Barrel,750mL,1,28.99,28.99,2024-01-20,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY
3,1_HARDERSFIELD_2034,1,2034,Glendalough Double Barrel,750mL,1,28.99,28.99,2024-01-22,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY
4,10_HORNSEY_2034,10,2034,Glendalough Double Barrel,750mL,1,28.99,28.99,2024-01-20,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,7_STANMORE_2034,7,2034,Glendalough Double Barrel,750mL,1,27.99,27.99,2024-12-21,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY
1476,81_PEMBROKE_2034,81,2034,Glendalough Double Barrel,750mL,2,55.98,27.99,2024-12-19,750.0,1,1.57,388,ATLANTIC IMPORTING COMPANY
1477,81_PEMBROKE_2034,81,2034,Glendalough Double Barrel,750mL,1,27.99,27.99,2024-12-30,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY
1478,9_BLACKPOOL_2034,9,2034,Glendalough Double Barrel,750mL,1,27.99,27.99,2024-12-01,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY
1479,9_BLACKPOOL_2034,9,2034,Glendalough Double Barrel,750mL,1,27.99,27.99,2024-12-17,750.0,1,0.79,388,ATLANTIC IMPORTING COMPANY

In [10]:
# Vendor_Number_Sales_1= pd.read_sql('select * from sales limit 1000000', conn)
# Vendor_Number_Sales_1

### We will compare quantity , sales(Dollar) with purchase table and sales table

In [11]:
Vendor_Number_Purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity', 'Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
2034  21.32              1777  37885.64
2119  66.40                39   2589.60
7241  20.68                31    641.08

In [12]:
Vendor_Number_Sales.groupby('Brand')[['SalesPrice', 'SalesDollars', 'SalesQuantity']].sum()

       SalesPrice  SalesDollars  SalesQuantity
Brand
2034     37387.00      45645.13           1587
2119      6924.19       9838.85            115
7241      2989.01       3788.77            123

### We see the vendornumber = '388' have a deficit Quantity and Sales Quantity

In [13]:
# p = Vendor_Number_Purchases_1.groupby(['VendorNumber', 'Brand'])['Quantity'].sum()
# s = Vendor_Number_Sales_1.groupby(['VendorNo', 'Brand'])['SalesQuantity'].sum()

# shortage = pd.concat([p, s], axis=1).fillna(0)
# shortage.columns = ['Purchased', 'Sold']

# shortage['Delta'] = shortage['Purchased'] - shortage['Sold']
# shortage[shortage['Delta'] < 0].sort_values('Delta')

### After discover this tables

- 1- Purchase tabls countain actual purchase data that including brands, purchases and  sales with Dollar
- 2- purchase_price column is in different table named purchase_price which price is possible change depends on vendors, dates and Brand
- 3- vendor_invoice table aggregate purchases + freight , aggregate vendor purchases and add freight to cost
- 4- sales table captures actual sales transaction , describe the brand purchased by vendors, quantity sold and

### What we wil do ?

-- As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:
- purchase transactions made by vendors
- sales transaction data
- freight costs for each vendor
- actual product prices from vendors

- First we will make freight cost for every vendor to add it to summary table

In [14]:
freight_cost = pd.read_sql_query("""select VendorNumber, VendorName, sum(Freight) as FreightCost 
                                 from vendor_invoice 
                                 GROUP BY VendorNumber, VendorName""",conn)
freight_cost

     VendorNumber                               VendorName  FreightCost
0               2  IRA GOLDMAN AND WILLIAMS, LLP                  27.08
1              54              AAPER ALCOHOL & CHEMICAL CO         0.48
2              60              ADAMBA IMPORTS INTL INC           367.52
3             105              ALTAMAR BRANDS LLC                 62.39
4             200              AMERICAN SPIRITS EXCHANGE           6.19
..            ...                                      ...          ...
124         98450              Serralles Usa LLC                 856.02
125         99166              STARK BREWING COMPANY             130.09
126        172662                 SWEETWATER FARM                178.34
127        173357              TAMWORTH DISTILLING               202.50
128        201359              FLAVOR ESSENCE INC                  0.09

[129 rows x 3 columns]

In [15]:
Vendor_Number_Purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [16]:
Vendor_Number_Purchases_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

### lets go to build a query for summary table including (`purchases` , `purchaseprices`, `sales`)

In [17]:
Summary_table_Purchases = pd.read_sql_query("""select
                                  p.VendorName,
                                  p.VendorNumber,
                                  p.Brand,
                                  p.PurchasePrice,
                                  pp.Volume,
                                  pp.Price as ActualPrice,
                                  SUM(p.Quantity) as TotalPurchasesQuantity,
                                  SUM(p.Dollars) as TotalPurchasesDollars
                                  FROM purchases p
                                  JOIN purchase_prices pp 
                                  ON p.Brand = pp.Brand 
                                  WHERE p.PurchasePrice > 0
                                  GROUP BY p.VendorName, p.VendorNumber, p.Brand
                                  ORDER BY TotalPurchasesDollars""", conn)
Summary_table_Purchases

,VendorName,VendorNumber,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchasesQuantity,TotalPurchasesDollars
0,PROXIMO SPIRITS INC.,7245,3065,0.71,50,0.99,1,0.71
1,DIAGEO NORTH AMERICA INC,3960,6127,1.47,200,1.99,1,1.47
2,HEAVEN HILL DISTILLERIES,3924,9123,0.74,50,0.99,2,1.48
3,SAZERAC CO INC,8004,5683,0.39,50,0.49,6,2.34
4,WINE GROUP INC,9815,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,DIAGEO NORTH AMERICA INC,3960,3545,21.89,1750,29.99,138109,3023206.01
10688,DIAGEO NORTH AMERICA INC,3960,4261,16.17,1750,22.99,201682,3261197.94
10689,PERNOD RICARD USA,17035,8068,18.24,1750,24.99,187407,3418303.68
10690,MARTIGNETTI COMPANIES,4425,3405,23.19,1750,28.99,164038,3804041.22
10691,BROWN-FORMAN CORP,1128,1233,26.27,1750,36.99,145080,3811251.60

In [18]:
Vendor_Number_Sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [19]:
Summery_table_sales = pd.read_sql_query("""select
                                        s.VendorName,
                                        s.VendorNo,
                                        s.Brand,
                                        SUM(SalesDollars) AS TotalSalesDollars,
                                        SUM(SalesPrice) AS TotalSalesPrice,
                                        SUM(SalesQuantity) AS TotalSalesQuantity,
                                        SUM(ExciseTax) AS TotalSalesTax
                                        FROM sales s
                                        GROUP BY VendorName, VendorNo, Brand
                                        ORDER BY TotalSalesDollars""", conn)
Summery_table_sales

,VendorName,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalSalesTax
0,SAZERAC CO INC,8004,5287,9.800000e-01,0.98,2,0.10
1,PHILLIPS PRODUCTS CO.,9206,2773,9.900000e-01,0.99,1,0.05
2,E & J GALLO WINERY,3252,3933,1.980000e+00,0.99,2,0.10
3,HEAVEN HILL DISTILLERIES,3924,9123,1.980000e+00,0.99,2,0.10
4,Russian Standard Vodka,10050,3623,1.980000e+00,1.98,2,0.10
...,...,...,...,...,...,...,...
11267,DIAGEO NORTH AMERICA INC,3960,3545,4.223108e+06,545778.28,135838,249587.83
11268,DIAGEO NORTH AMERICA INC,3960,4261,4.475973e+06,420050.01,200412,368242.80
11269,PERNOD RICARD USA,17035,8068,4.538121e+06,461140.15,187140,343854.07
11270,MARTIGNETTI COMPANIES,4425,3405,4.819073e+06,561512.37,160247,294438.66
11271,BROWN-FORMAN CORP,1128,1233,5.101920e+06,672819.31,142049,260999.20

- After reviewing separate summaries of purchasing and sales traffic, we will merge these tables into one comprehensive table.

In [20]:
final_table = pd.read_sql_query("""WITH FreightSummary as (select VendorNumber, VendorName, sum(Freight) as FreightCost 
                                 from vendor_invoice 
                                 GROUP BY VendorNumber, VendorName
                                ),
                                PurchasesSummary as (select
                                  p.VendorName,
                                  p.VendorNumber,
                                  p.Description,
                                  p.Brand,
                                  p.PurchasePrice,
                                  pp.Volume,
                                  pp.Price as ActualPrice,
                                  SUM(p.Quantity) as TotalPurchasesQuantity,
                                  SUM(p.Dollars) as TotalPurchasesDollars
                                  FROM purchases p
                                  JOIN purchase_prices pp 
                                  ON p.Brand = pp.Brand 
                                  WHERE p.PurchasePrice > 0
                                  GROUP BY p.VendorName, p.VendorNumber, p.Brand
                                ),
                                SalesSummary as (select
                                        s.VendorName,
                                        s.VendorNo,
                                        s.Brand,
                                        s.SalesDate,
                                        SUM(SalesDollars) AS TotalSalesDollars,
                                        SUM(SalesPrice) AS TotalSalesPrice,
                                        SUM(SalesQuantity) AS TotalSalesQuantity,
                                        SUM(ExciseTax) AS TotalSalesTax
                                        FROM sales s
                                        GROUP BY VendorName, VendorNo, Brand
                                )
                               select 
                                ps.VendorName,
                                ps.VendorNumber,
                                ps.Description,
                                ps.Brand,
                                ps.PurchasePrice,
                                ps.ActualPrice,
                                ps.Volume,
                                ps.TotalPurchasesQuantity,
                                ps.TotalPurchasesDollars,
                                ss.TotalSalesDollars,
                                ss.SalesDate,
                                ss.TotalSalesPrice,
                                ss.TotalSalesQuantity,
                                ss.TotalSalesTax,
                                fs.FreightCost
                                FROM PurchasesSummary ps
                                LEFT JOIN SalesSummary ss
                                ON ps.VendorNumber = ss.VendorNo
                                AND ps.Brand = ss.Brand
                                LEFT JOIN FreightSummary fs
                                ON ps.VendorNumber = fs.VendorNumber
                                ORDER BY ps.TotalPurchasesDollars DESC""", conn)
final_table

,VendorName,VendorNumber,Description,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchasesQuantity,TotalPurchasesDollars,TotalSalesDollars,SalesDate,TotalSalesPrice,TotalSalesQuantity,TotalSalesTax,FreightCost
0,BROWN-FORMAN CORP,1128,Jack Daniels No 7 Black,1233,26.27,36.99,1750,145080,3811251.60,5.101920e+06,2024-01-02,672819.31,142049.0,260999.20,68601.68
1,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750,164038,3804041.22,4.819073e+06,2024-01-02,561512.37,160247.0,294438.66,209.32
2,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750,164038,3804041.22,4.819073e+06,2024-01-02,561512.37,160247.0,294438.66,144719.92
3,PERNOD RICARD USA,17035,Absolut 80 Proof,8068,18.24,24.99,1750,187407,3418303.68,4.538121e+06,2024-01-02,461140.15,187140.0,343854.07,123780.22
4,DIAGEO NORTH AMERICA INC,3960,Capt Morgan Spiced Rum,4261,16.17,22.99,1750,201682,3261197.94,4.475973e+06,2024-01-02,420050.01,200412.0,368242.80,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12484,WINE GROUP INC,9815,Concannon Glen Ellen Wh Zin,8527,1.32,4.99,750,2,2.64,1.595000e+01,2024-01-11,10.96,5.0,0.55,27100.41
12485,SAZERAC CO INC,8004,Dr McGillicuddy's Apple Pie,5683,0.39,0.49,50,6,2.34,6.566000e+01,2024-01-29,1.47,134.0,7.04,50293.62
12486,HEAVEN HILL DISTILLERIES,3924,Deep Eddy Vodka,9123,0.74,0.99,50,2,1.48,1.980000e+00,2024-12-29,0.99,2.0,0.10,14069.87
12487,DIAGEO NORTH AMERICA INC,3960,The Club Strawbry Margarita,6127,1.47,1.99,200,1,1.47,1.432800e+02,2024-01-23,77.61,72.0,15.12,257032.07
12488,PROXIMO SPIRITS INC.,7245,Three Olives Grape Vodka,3065,0.71,0.99,50,1,0.71,8.514000e+01,2024-01-29,33.66,86.0,4.46,38994.78

- 1- Consolidation of Purchases, Sales, and Logistics

This step integrates Purchases, Sales, and Freight into a single Master Table. By combining these datasets, we can evaluate the full lifecycle 
of each brand and calculate the total profitability in one view.

- 2- Investment-Centric Analysis with LEFT JOIN

We use a LEFT JOIN on the Purchases table and sort by TotalPurchasesDollars (DESC) to focus on our highest capital investments. This approach ensures we track all inventoryeven unsold itemsto identify dead stock and prioritize our largest vendors.

### EDA and Cleaning data

In [21]:
final_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12489 entries, 0 to 12488
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VendorName              12489 non-null  object
 1   VendorNumber            12489 non-null  int64
 2   Description             12489 non-null  object
 3   Brand                   12489 non-null  int64
 4   PurchasePrice           12489 non-null  float64
 5   ActualPrice             12489 non-null  float64
 6   Volume                  12489 non-null  object
 7   TotalPurchasesQuantity  12489 non-null  int64
 8   TotalPurchasesDollars   12489 non-null  float64
 9   TotalSalesDollars       12280 non-null  float64
 10  SalesDate               12280 non-null  object
 11  TotalSalesPrice         12280 non-null  float64
 12  TotalSalesQuantity      12280 non-null  float64
 13  TotalSalesTax           12280 non-null  float64
 14  FreightCost             12489 non-null  float64
dtypes: float64(8), int64(3), object(4)
memory usage: 1.4+ MB

- Lets see `VendorName` and `Volume` to fix them

In [22]:
final_table['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

1- we will delete space from `VendorNames` by (``strip``)

In [23]:
final_table['VendorName'] = final_table['VendorName'].str.strip()

In [24]:
final_table['VendorName'].unique()

array(['BROWN-FORMAN CORP', 'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA',
       'DIAGEO NORTH AMERICA INC', 'BACARDI USA INC',
       'JIM BEAM BRANDS COMPANY', 'MAJESTIC FINE WINES',
       'ULTRA BEVERAGE COMPANY LLP', 'STOLI GROUP,(USA) LLC',
       'PROXIMO SPIRITS INC.', 'MOET HENNESSY USA INC', 'CAMPARI AMERICA',
       'SAZERAC CO INC', 'CONSTELLATION BRANDS INC', 'M S WALKER INC',
       'SAZERAC NORTH AMERICA INC.', 'PALM BAY INTERNATIONAL INC',
       'REMY COINTREAU USA INC', 'SIDNEY FRANK IMPORTING CO',
       'E & J GALLO WINERY', 'WILLIAM GRANT & SONS INC',
       'HEAVEN HILL DISTILLERIES', 'DISARONNO INTERNATIONAL LLC',
       'EDRINGTON AMERICAS', 'CASTLE BRANDS CORP.',
       'SOUTHERN WINE & SPIRITS NE', 'STE MICHELLE WINE ESTATES',
       'TRINCHERO FAMILY ESTATES', 'MHW LTD', 'WINE GROUP INC',
       'PERFECTA WINES', 'LUXCO INC', 'TREASURY WINE ESTATES',
       'DIAGEO CHATEAU ESTATE WINES', 'SHAW ROSS INT L IMP LTD',
       'PINE STATE TRADING CO', 'PHILLIPS PRODUCTS CO.',
       'CALEDONIA SPIRITS INC', 'STATE WINE & SPIRITS',
       'KOBRAND CORPORATION', 'BANFI PRODUCTS CORP',
       'VINEYARD BRANDS INC', 'DELICATO VINEYARDS INC',
       'FABRIZIA SPIRITS LLC', 'DUGGANS DISTILLED PRODUCTS',
       'Serralles Usa LLC', 'SEA HAGG DISTILLERY LLC',
       'OLE SMOKY DISTILLERY LLC', 'VRANKEN AMERICA', 'KLIN SPIRITS LLC',
       'LAIRD & CO', 'ADAMBA IMPORTS INTL INC',
       'LATITUDE BEVERAGE COMPANY', 'FREDERICK WILDMAN & SONS',
       'MCCORMICK DISTILLING CO', 'CHARLES JACQUIN ET CIE INC',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY',
       'AMERICAN VINTAGE BEVERAGE', 'MANGO BOTTLING INC',
       'SWEET BABY VINEYARD', 'NICHE W & S', 'LABELLE VYDS AND WINERY',
       'FLAG HILL WINERY & VINEYARD', 'SMOKY QUARTZ DISTILLERY LLC',
       'PREMIUM PORT WINES, INC.', 'Russian Standard Vodka',
       'Dunn Wine Brokers', 'WEIN BAUER INC', 'BULLY BOY DISTILLERS',
       'ATLANTIC IMPORTING COMPANY', 'PREMIER DISTRIBUTORS',
       'VINILANDIA USA', 'PARK STREET IMPORTS LLC', 'TAKARA SAKE USA INC',
       'SEA BREEZE CELLARS LLC', 'STARK BREWING COMPANY', 'TY KU LLC',
       'PSP WINES', 'TAMWORTH DISTILLING', 'ZORVINO VINEYARDS',
       'SOUTHERN GLAZERS W&S OF NE', 'HOOD RIVER DISTILLERS, Inc.',
       'CRUSH WINES', 'POVERTY LANE ORCHARDS', 'DJINN SPIRITS LLC',
       'MOONLIGHT MEADERY', 'TALL SHIP DISTILLERY LLC',
       'FORTUNE WINE BROKERS LLC', 'BLACK COVE BEVERAGES', 'VINEXTRA INC',
       'SURVILLE ENTERPRISES CORP', 'JEWELL TOWNE VINEYARDS',
       'SWEETWATER FARM', 'ALTAMAR BRANDS LLC', 'CANDIA VINEYARDS',
       'INCREDIBREW INC', 'ALISA CARR BEVERAGES',
       'STELLAR IMPORTING CO LLC', 'FULCHINO VINEYARD INC',
       'IRA GOLDMAN AND WILLIAMS, LLP', 'Circa Wines',
       'VINEDREA WINES LLC', 'BLACK PRINCE DISTILLERY INC',
       'VINEYARD BRANDS LLC', 'THE IMPORTED GRAPE LLC',
       'WALPOLE MTN VIEW WINERY', 'GILMANTON WINERY & VINEYARD',
       'HAUNTING WHISPER VYDS', 'STAR INDUSTRIES INC.',
       'LOYAL DOG WINERY', 'R.P.IMPORTS INC', 'THE PIERPONT GROUP LLC',
       'APPOLO VINEYARDS LLC', 'BLACK ROCK SPIRITS LLC',
       'CENTEUR IMPORTS LLC', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE', 'UNCORKED', 'BRONCO WINE COMPANY',
       'MILTONS DISTRIBUTING CO', 'TRUETT HURST', 'LAUREATE IMPORTS CO',
       'FANTASY FINE WINES CORP', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS', 'CAPSTONE INTERNATIONAL',
       'FLAVOR ESSENCE INC'], dtype=object)

2- we will change dtype from object to float in `Volume` col

In [25]:
final_table['Volume'] = final_table['Volume'].astype('float64')

### Check Nulls in data

In [26]:
final_table.isnull().sum()

VendorName                  0
VendorNumber                0
Description                 0
Brand                       0
PurchasePrice               0
ActualPrice                 0
Volume                      0
TotalPurchasesQuantity      0
TotalPurchasesDollars       0
TotalSalesDollars         209
SalesDate                 209
TotalSalesPrice           209
TotalSalesQuantity        209
TotalSalesTax             209
FreightCost                 0
dtype: int64

- we found nulls in this columns because this is a 0 purchases by vendors so sales are 0 , we will fillna by 0

In [27]:
final_table.fillna(0, inplace=True)

In [28]:
final_table.isnull().sum()

VendorName                0
VendorNumber              0
Description               0
Brand                     0
PurchasePrice             0
ActualPrice               0
Volume                    0
TotalPurchasesQuantity    0
TotalPurchasesDollars     0
TotalSalesDollars         0
SalesDate                 0
TotalSalesPrice           0
TotalSalesQuantity        0
TotalSalesTax             0
FreightCost               0
dtype: int64

### OK , we will create some features help to understand business problem

In [29]:
final_table['GrossProfit'] = final_table['TotalSalesDollars'] - final_table['TotalPurchasesDollars']

In [30]:
final_table['ProfitMargin'] = final_table['GrossProfit'] / final_table['TotalSalesDollars']*100

In [31]:
final_table['StockTurnOver'] = final_table['TotalSalesQuantity'] / final_table['TotalPurchasesQuantity']

In [32]:
final_table['SalestoPurchaseRatio'] = final_table['TotalSalesDollars'] / final_table['TotalPurchasesDollars']

In [33]:
final_table.head()

,VendorName,VendorNumber,Description,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchasesQuantity,TotalPurchasesDollars,TotalSalesDollars,SalesDate,TotalSalesPrice,TotalSalesQuantity,TotalSalesTax,FreightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRatio
0,BROWN-FORMAN CORP,1128,Jack Daniels No 7 Black,1233,26.27,36.99,1750.0,145080,3811251.60,5.101920e+06,2024-01-02,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750.0,164038,3804041.22,4.819073e+06,2024-01-02,561512.37,160247.0,294438.66,209.32,1015032.27,21.062810,0.976890,1.266830
2,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750.0,164038,3804041.22,4.819073e+06,2024-01-02,561512.37,160247.0,294438.66,144719.92,1015032.27,21.062810,0.976890,1.266830
3,PERNOD RICARD USA,17035,Absolut 80 Proof,8068,18.24,24.99,1750.0,187407,3418303.68,4.538121e+06,2024-01-02,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
4,DIAGEO NORTH AMERICA INC,3960,Capt Morgan Spiced Rum,4261,16.17,22.99,1750.0,201682,3261197.94,4.475973e+06,2024-01-02,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493

### Ok we will create the final_table in DataBase so we should use (cursor)

In [34]:
cursor = conn.cursor()

In [35]:
# cursor.execute("""CREATE TABLE final_table (
#             VendorName VARCHAR(100),
#             VendorNumber INT,
#             Describtion VARCHAR(100),
#             SalesDate DATE,
#             Brand INT,
#             PurchasePrice DECIMAL(10,2),
#             ActualPrice DECIMAL(10,2),
#             Volume INT,
#             TotalPurchasesQuantity INT,
#             TotalPurchasesDollars DECIMAL(15,2),
#             TotalSalesDollars DECIMAL(15,2),
#             TotalSalesPrice DECIMAL(15,2),
#             TotalSalesQuantity INT,
#             TotalSalesTax DECIMAL(15,2),
#             FreightCost DECIMAL(15,2),
#             GrossProfit DECIMAL(15,2),
#             ProfitMargin DECIMAL(5,4),
#             StockTurnOver DECIMAL(15,2),
#             SalestoPurchaseRatio DECIMAL(15,2),
#             PRIMARY KEY (VendorNumber, Brand)
#             );
#             """)

In [36]:
# cursor.execute("""
# ALTER TABLE final_table
# ADD SalesDate DATE;
# """)

In [37]:
pd.read_sql_query("""select * from final_table""", conn)

,VendorName,VendorNumber,Description,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchasesQuantity,TotalPurchasesDollars,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalSalesTax,FreightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRatio,SalesDate
0,BROWN-FORMAN CORP,1128,Jack Daniels No 7 Black,1233,26.27,36.99,1750,145080,3811251.60,5.101920e+06,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647,None
1,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750,164038,3804041.22,4.819073e+06,561512.37,160247.0,294438.66,209.32,1015032.27,21.062810,0.976890,1.266830,None
2,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750,164038,3804041.22,4.819073e+06,561512.37,160247.0,294438.66,144719.92,1015032.27,21.062810,0.976890,1.266830,None
3,PERNOD RICARD USA,17035,Absolut 80 Proof,8068,18.24,24.99,1750,187407,3418303.68,4.538121e+06,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594,None
4,DIAGEO NORTH AMERICA INC,3960,Capt Morgan Spiced Rum,4261,16.17,22.99,1750,201682,3261197.94,4.475973e+06,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12484,WINE GROUP INC,9815,Concannon Glen Ellen Wh Zin,8527,1.32,4.99,750,2,2.64,1.595000e+01,10.96,5.0,0.55,27100.41,13.31,83.448276,2.500000,6.041667,None
12485,SAZERAC CO INC,8004,Dr McGillicuddy's Apple Pie,5683,0.39,0.49,50,6,2.34,6.566000e+01,1.47,134.0,7.04,50293.62,63.32,96.436186,22.333333,28.059829,None
12486,HEAVEN HILL DISTILLERIES,3924,Deep Eddy Vodka,9123,0.74,0.99,50,2,1.48,1.980000e+00,0.99,2.0,0.10,14069.87,0.50,25.252525,1.000000,1.337838,None
12487,DIAGEO NORTH AMERICA INC,3960,The Club Strawbry Margarita,6127,1.47,1.99,200,1,1.47,1.432800e+02,77.61,72.0,15.12,257032.07,141.81,98.974037,72.000000,97.469388,None
12488,PROXIMO SPIRITS INC.,7245,Three Olives Grape Vodka,3065,0.71,0.99,50,1,0.71,8.514000e+01,33.66,86.0,4.46,38994.78,84.43,99.166079,86.000000,119.915493,None

In [38]:
final_table.to_sql('final_table', conn, if_exists='replace', index=False)

12489

In [39]:
.

SyntaxError: invalid syntax (1933637684.py, line 1)

In [41]:
change_dtyp= pd.read_sql_query("""select * from final_table limit 5 """, conn)
change_dtyp

,VendorName,VendorNumber,Description,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchasesQuantity,TotalPurchasesDollars,TotalSalesDollars,SalesDate,TotalSalesPrice,TotalSalesQuantity,TotalSalesTax,FreightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRatio
0,BROWN-FORMAN CORP,1128,Jack Daniels No 7 Black,1233,26.27,36.99,1750.0,145080,3811251.60,5.101920e+06,2024-01-02,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750.0,164038,3804041.22,4.819073e+06,2024-01-02,561512.37,160247.0,294438.66,209.32,1015032.27,21.062810,0.976890,1.266830
2,MARTIGNETTI COMPANIES,4425,Tito's Handmade Vodka,3405,23.19,28.99,1750.0,164038,3804041.22,4.819073e+06,2024-01-02,561512.37,160247.0,294438.66,144719.92,1015032.27,21.062810,0.976890,1.266830
3,PERNOD RICARD USA,17035,Absolut 80 Proof,8068,18.24,24.99,1750.0,187407,3418303.68,4.538121e+06,2024-01-02,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
4,DIAGEO NORTH AMERICA INC,3960,Capt Morgan Spiced Rum,4261,16.17,22.99,1750.0,201682,3261197.94,4.475973e+06,2024-01-02,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493

In [43]:
change_dtyp['SalesDate'] = change_dtyp['SalesDate'].astype('datetime64[ns]')

In [44]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('ingested_files',), ('begin_inventory',), ('end_inventory',), ('purchases',), ('purchase_prices',), ('sales',), ('vendor_invoice',), ('Vendro_summary_sales',), ('final_table',)]

In [ ]:
import pandas as pd
import os
from sqlalchemy import create_engine
import logging
import time
import sqlite3
from csv_to_db import ingest_db
 
logging.basicConfig(
    filename="logs/Script vendor_summary from new data.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):

    final_table = pd.read_sql_query("""WITH FreightSummary as (select VendorNumber, VendorName, sum(Freight) as FreightCost 
                                 from vendor_invoice 
                                 GROUP BY VendorNumber, VendorName
                                ),
                                PurchasesSummary as (select
                                  p.VendorName,
                                  p.VendorNumber,
                                  p.Brand,
                                  p.PurchasePrice,
                                  pp.Volume,
                                  pp.Price as ActualPrice,
                                  SUM(p.Quantity) as TotalPurchasesQuantity,
                                  SUM(p.Dollars) as TotalPurchasesDollars
                                  FROM purchases p
                                  JOIN purchase_prices pp 
                                  ON p.Brand = pp.Brand 
                                  WHERE p.PurchasePrice > 0
                                  GROUP BY p.VendorName, p.VendorNumber, p.Brand
                                ),
                                SalesSummary as (select
                                        s.VendorName,
                                        s.VendorNo,
                                        s.Brand,
                                        SUM(SalesDollars) AS TotalSalesDollars,
                                        SUM(SalesPrice) AS TotalSalesPrice,
                                        SUM(SalesQuantity) AS TotalSalesQuantity,
                                        SUM(ExciseTax) AS TotalSalesTax
                                        FROM sales s
                                        GROUP BY VendorName, VendorNo, Brand
                                )
                               select 
                                ps.VendorName,
                                ps.VendorNumber,
                                ps.Brand,
                                ps.PurchasePrice,
                                ps.ActualPrice,
                                ps.Volume,
                                ps.TotalPurchasesQuantity,
                                ps.TotalPurchasesDollars,
                                ss.TotalSalesDollars,
                                ss.TotalSalesPrice,
                                ss.TotalSalesQuantity,
                                ss.TotalSalesTax,
                                fs.FreightCost
                                FROM PurchasesSummary ps
                                LEFT JOIN SalesSummary ss
                                ON ps.VendorNumber = ss.VendorNo
                                AND ps.Brand = ss.Brand
                                LEFT JOIN FreightSummary fs
                                ON ps.VendorNumber = fs.VendorNumber
                                ORDER BY ps.TotalPurchasesDollars DESC""", conn)
    

    return final_table

def cleaning_vendor_summary(final_table):

    final_table['VendorName'] = final_table['VendorName'].str.strip()
    final_table['Volume'] = final_table['Volume'].astype('float64')
    final_table.fillna(0, inplace=True)

    final_table['GrossProfit'] = final_table['TotalSalesDollars'] - final_table['TotalPurchasesDollars']
    final_table['ProfitMargin'] = final_table['GrossProfit'] / final_table['TotalSalesDollars']*100
    final_table['StockTurnOver'] = final_table['TotalSalesQuantity'] / final_table['TotalPurchasesQuantity'] 
    final_table['SalestoPurchaseRatio'] = final_table['TotalSalesDollars'] / final_table['TotalPurchasesDollars']

    return final_table

if __name__ == "__main__":

    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Summary Table .... ')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Summary Table .... ')
    clean_df = cleaning_vendor_summary(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting Data .... ')
    clean_df.to_sql('final_table', conn, if_exists='replace', index=False)
    logging.info('Completed')